$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#map {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 554px;
}
.background {
  fill: none;
  pointer-events: all;
}

/* See:
http://stackoverflow.com/questions/16852484/use-fieldset-legend-with-bootstrap
http://jsfiddle.net/JamesD/PgA84/1/
*/

/*fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
*/

legend.small {
  font-size: 1.1em;
}

.styles.label {
  font-size: 1.1em;
}

.form-horizontal .control-label.text-left{
    text-align: left;
}

.modal-footer.small {
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-header.small {
  padding-top: 5px;
  padding-bottom: 5px;
}

.layer-description-area {
  padding-top: 25px;
}

.grey-icon {
  opacity: .25;
}

input[type="checkbox"].checkbox {
  margin-top: 1px;
  margin-right: 10px;
}

.modal-body legend {
  font-size: 1.1em;
}

/*.map-bar {
  margin-bottom: 10px;
}

.map-bar .navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}*/

.map-bar {
  margin-bottom: 10px;
}

.map-bar .navbar-nav > li > a, .map-bar .navbar-brand {
  padding-top:4px !important; 
  padding-bottom:0 !important;
  height: 28px;
}

.map-bar.navbar {
  min-height:28px !important;
}

textarea {
  overflow-x: wrap;
}

.map-bar.navbar .divider-vertical {
  height: 28px;
  margin: 0 9px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #ffffff;
}

div.tooltip {
 position: absolute;
 text-align: center;
 width: 150px;
 /*height: 25px;*/
 padding: 2px;
 font-size: 10px;
 background: #FFFFE0;
 border: 1px;
 border-radius: 8px;
 pointer-events: none;
}