<div class="form-group form-group-sm" ng-class="{'has-error':isError}">
  <label for="{{for}}"
         class="col-sm-5 control-label text-left"
         ng-class="{'required':req}"
         style="padding-right: 5px;">
    <span class="label label-default styles">{{label1}}</span>&nbsp;<span class="label label-info styles">{{label2}}</span>
  </label>

  <div class="col-sm-6"
       style="padding-left: 5px">
    <span ng-transclude></span>
    <span class="help-inline" ng-show="isError">{{error}}</span>
  </div>
</div>