<div class="displayFill" ng-show="shouldDisplayElementArea(layer, 'display', 'fill')">
  <legend>Fill <div class="pull-right"><span ng-click="removeElementArea(layer, 'display', 'fill')" class="glyphicon glyphicon-remove" aria-hidden="true"></span></div></legend>
  <field label="Opacity">
    <input class="form-control input-sm" name="opacity" type="text" 
         required ng-model="layer.display.fill.opacity"
        ng-model-options="{ updateOn: 'blur' }" />
  </field>
  <field label="Fill mode">
    <select class="form-control input-sm" name="fillMode" ng-model="layer.display.fill.fillMode">
      <option value="static">Static</option>
      <option value="threshold">Threshold</option>
      <option value="choropleth">Choropleth</option>
    </select>
  </field>
  <div ng-if="layer.display.fill.fillMode === 'static'">
    <field label="Color">
      <input colorpicker class="form-control input-sm" name="color" type="text" 
           required ng-model="layer.display.shape.color"
          ng-model-options="{ updateOn: 'blur' }" />
    </field>
  </div>
  <div ng-if="layer.display.fill.fillMode === 'threshold'">
    <field label="Palette">
      <palette-picker
        initial-name='{{layer.display.fill.threshold.paletteCode}}'
        initial-range='{{layer.display.fill.threshold.values.length}}'
        initial-reverse='false'
        on-select='selectBrewColors(item, isReverse)'
      />
    </field>
    <field label="Palette code">
      <input class="form-control input-sm" name="paletteCode" type="text" 
           disabled ng-model="layer.display.fill.threshold.paletteCode"
           ng-model-options="{ updateOn: 'blur' }" />
    </field>
    <field label="Reverse">
      <input class="checkbox" type="checkbox" ng-model="layer.display.fill.threshold.paletteReverse"/>
    </field>
    <field label="Values (Range)">
      <input class="form-control input-sm" ng-list name="values" type="text" 
           required ng-model="layer.display.fill.threshold.values"
          ng-model-options="{ updateOn: 'blur' }" />
    </field>
    <field label="Colors (Range)">
      <input class="form-control input-sm" ng-list name="colors" type="text" 
           disabled ng-model="layer.display.fill.threshold.colors"
          ng-model-options="{ updateOn: 'blur' }" />
    </field>
    <field label="Value">
      <div class="input-group" ng-if="shoudDisplayCheckExpression(layer.data.source)">
        <input class="form-control input-sm" name="value" type="text" 
             required ng-model="layer.display.fill.value"
             ng-model-options="{ updateOn: 'blur' }" />
        <span class="input-group-addon"><a ng-click="checkExpression(layer.display.fill, 'value', linkedSources, layer.data.source, layer.data.rootObject, layer.display.fill.value, 'Define value. The expression must return a number that will be used define the color of the fill.')"><i class="glyphicon glyphicon-pencil"></i></a></span>
      </div>
      <input ng-if="!shoudDisplayCheckExpression(layer.data.source)"
           class="form-control input-sm" name="value" type="text" 
           required ng-model="layer.display.fill.value"
           ng-model-options="{ updateOn: 'blur' }" />
    </field>
  </div>
</div>