<form name="propertiesForm" novalidate class="form-horizontal">
  <field label="Name">
    <input class="form-control input-sm" name="name" type="text" 
         required ng-model="layer.name"
         ng-model-options="{ updateOn: 'blur' }" />
  </field>
  <field label="Type">
    <input class="form-control input-sm" name="type" type="text" 
         disabled ng-model="layer.type"
         ng-model-options="{ updateOn: 'blur' }" />
  </field>
  <field label="Mode">
    <input class="form-control input-sm" name="mode" type="text" 
         disabled ng-model="layer.mode"
         ng-model-options="{ updateOn: 'blur' }" />
  </field>
  <field label="Apply on layer">
    <select class="form-control input-sm" name="applyOn" ng-model="layer.applyOn">
      <option ng-repeat="optionLayer in filteredLayers = (layers | filter: {id: '!layer.id'})" ng-selected="optionLayer.id === layer.applyOn" value="{{optionLayer.id}}">{{optionLayer.name}}</option>
    </select>
  </field>
</form>