<form name="dataForm" novalidate class="form-horizontal">
  <field label="From source">
    <select class="form-control input-sm" name="source"
         ng-model="layer.data.source"
         ng-model-options="{ updateOn: 'blur' }">
      <option value="{{linkedSource.id}}" ng-selected="linkedSource.id === layer.data.source" ng-repeat="linkedSource in linkedSources">{{linkedSource.name}}</option>
    </select>
  </field>
  <field label="URL">
    <input class="form-control input-sm" name="url" type="text" 
         required ng-model="layer.data.url"
         ng-model-options="{ updateOn: 'blur' }" />
  </field>
  <field label="Type">
    <input class="form-control input-sm" name="type" type="text" 
         required ng-model="layer.data.type"
        ng-model-options="{ updateOn: 'blur' }" />
  </field>
  <field label="Root object">
    <input class="form-control input-sm" name="rootObject" type="text" 
         required ng-model="layer.data.rootObject"
        ng-model-options="{ updateOn: 'blur' }" />
  </field>
  <field label="Properties URL">
    <input class="form-control input-sm" name="propertiesUrl" type="text" 
         required ng-model="layer.data.properties.url"
         ng-model-options="{ updateOn: 'blur' }" />
  </field>
  <field label="Properties Type">
    <input class="form-control input-sm" name="propertiesType" type="text" 
         required ng-model="layer.data.properties.type"
        ng-model-options="{ updateOn: 'blur' }" />
  </field>
  <field label="Inline">
    <textarea class="form-control input-sm" name="inline" type="text" 
         required ng-model="layer.data.inline"
         ng-model-options="{ updateOn: 'blur' }"></textarea>
  </field>
  <field label="Where">
    <div class="input-group" ng-if="shoudDisplayCheckExpression(layer.data.source)">
      <input class="form-control input-sm" name="where" type="text" 
           required ng-model="layer.data.where"
           ng-model-options="{ updateOn: 'blur' }" />
      <span class="input-group-addon"><a ng-click="checkExpression(layer.data, 'where', linkedSources, layer.data.source, '', layer.data.where, 'Filter a collection. The expression must return true or false. If the returned value is false, the element will be removed from the collection.')"><i class="glyphicon glyphicon-pencil"></i></a></span>
    </div>
    <input ng-if="!shoudDisplayCheckExpression(layer.data.source)" class="form-control input-sm" name="where" type="text" 
         required ng-model="layer.data.where"
         ng-model-options="{ updateOn: 'blur' }" />
  </field>
  <field label="Sort field">
    <input class="form-control input-sm" name="orderField" type="text" 
         required ng-model="layer.data.order.field"
        ng-model-options="{ updateOn: 'blur' }" />
  </field>
  <field label="Ascending">
    <input class="checkbox" type="checkbox" ng-model="layer.data.order.ascending"/>
  </field>
</form>