<div class="displayLegend" ng-show="shouldDisplayElementArea(layer, 'display', 'legend')">
  <legend>Legend <div class="pull-right"><span  ng-click="removeElementArea(layer, 'display', 'legend')" class="glyphicon glyphicon-remove" aria-hidden="true"></span></div></legend>
  <field label="Enabled">
    <input class="checkbox" type="checkbox" ng-model="layer.display.legend.enabled"/>
  </field>
  <field label="Label">
    <div class="input-group" ng-if="shoudDisplayCheckExpression(layer.data.source)">
      <input class="form-control input-sm" name="value" type="text" 
           required ng-model="layer.display.legend.label"
           ng-model-options="{ updateOn: 'blur' }" />
      <span class="input-group-addon"><a ng-click="checkExpression(layer.display.legend, 'label', linkedSources, layer.data.source, layer.data.rootObject, layer.display.legend.label, 'Define legend label.')"><i class="glyphicon glyphicon-pencil"></i></a></span>
    </div>
    <input ng-if="!shoudDisplayCheckExpression(layer.data.source)"
         class="form-control input-sm" name="label" type="text" 
         required ng-model="layer.display.legend.label"
        ng-model-options="{ updateOn: 'blur' }" />
  </field>
</div>