<!-- Header -->
<div class="modal-header small">
<h4>Add a layer</h4>
</div>

<!-- Body -->
<div class="modal-body">
  <div class="text-center">
    <div class="btn-group" role="group">
      <button type="button" ng-click="displayPanel('properties')" ng-class="{active: isDisplayedPanel('properties')}" class="btn btn-default">Properties</button>
      <button type="button" ng-click="displayPanel('data')"  ng-class="{active: isDisplayedPanel('data')}" class="btn btn-default">Data</button>
      <button type="button" ng-click="displayPanel('display')"  ng-class="{active: isDisplayedPanel('display')}" class="btn btn-default">Display</button>
      <button type="button" ng-click="displayPanel('styles')"  ng-class="{active: isDisplayedPanel('styles')}" class="btn btn-default">Styles</button>
    </div>
  </div>

  <!-- properties -->
  <div ng-show="shouldDisplayPanel('properties')" class="layer-description-area">
    <form name="addLayerForm" novalidate class="form-horizontal">
  	  <field label="Name">
  	    <input class="form-control input-sm" name="name" type="text" 
  	         required ng-model="layerToAdd.name"
  	         ng-model-options="{ updateOn: 'blur' }" />
  	  </field>
  	  <field label="Type">
  	    <select class="form-control input-sm" name="name" ng-model="layerToAdd.type">
  	      <option value="geodata">Geo data</option>
  	      <option value="data">Data</option>
  	      <option value="graticule">Graticule</option>
  	    </select>
  	  </field>
  	  <field ng-if="shoudDisplayLayerMode()" label="Mode">
  	    <select class="form-control input-sm" name="name" ng-model="layerToAdd.mode"
  	         ng-model-options="{ updateOn: 'blur' }">
  	      <option value="shape">Shape</option>
  	      <option value="fill">Fill</option>
  	    </select>
  	  </field>
  	  <field label="Apply on layer">
  	    <input class="form-control input-sm" name="applyOn" type="text" 
  	         required ng-model="layerToAdd.applyOn"
  	         ng-model-options="{ updateOn: 'blur' }" />
  	  </field>
	  </form>
  </div>

  <!-- data -->

  <!-- display -->
  <!-- styles -->
  <div ng-show="shouldDisplayPanel('styles') && layerToAdd.type === 'geodata'" class="layer-description-area">
    <form name="stylesForm" novalidate class="form-horizontal">
      <field-multi-labels label1="path" label2="fill">
        <input colorpicker class="form-control input-sm" name="scale" type="text" 
               required ng-model="layer.styles.path.fill"
               ng-model-options="{ updateOn: 'blur' }" />
      </field-multi-labels>
      <field-multi-labels label1="path" label2="stroke">
        <input colorpicker class="form-control input-sm" name="stroke" type="text" 
               required ng-model="layer.styles.path.stroke"
               ng-model-options="{ updateOn: 'blur' }" />
      </field-multi-labels>
      <field-multi-labels label1="path" label2="strokeLinejoin">
        <input class="form-control input-sm" name="strokeLinejoin" type="text" 
               required ng-model="layer.styles.path.strokeLinejoin"
               ng-model-options="{ updateOn: 'blur' }" />
      </field-multi-labels>
      <field-multi-labels label1="path" label2="strokeLinecap">
        <input class="form-control input-sm" name="strokeLinecap" type="text" 
               required ng-model="layer.styles.path.strokeLinecap"
               ng-model-options="{ updateOn: 'blur' }" />
      </field-multi-labels>
      <field-multi-labels label1="d" label2="strokeWidth">
        <input class="form-control input-sm" name="strokeWidth" type="text" 
               required ng-model="layer.styles.d.strokeWidth"
               ng-model-options="{ updateOn: 'blur' }" />
      </field-multi-labels>
    </form>
  </div>
</div>

<!-- Footer -->
<div class="modal-footer small">
  <button class="btn btn-primary" ng-click="addLayer()">Add</button>
  <button class="btn" ng-click="cancel()">Cancel</button>
</div>