<div>
  <div class="col-md-8" id="map" map="map"></div>
  <div class="col-md-4">
    <nav class="navbar navbar-default map-bar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{mapName}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li ng-if="mapType==='d3js'" class="active"><a>D3</a></li>
            <li ng-if="mapType==='googlemaps'" class="active"><a>GMaps</a></li>
            <li class="divider-vertical"></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a><i tooltip="Refresh the map" ng-click="" class="glyphicon glyphicon-refresh grey-icon"></i> Refresh</a></li>
            <li><a><i tooltip="Export map structure" ng-click="" class="glyphicon glyphicon-export grey-icon"></i> Export</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <accordion close-others="oneAtATime">
      <!-- Properties -->
      <accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
        <accordion-heading>
          Properties
        </accordion-heading>

        <div ng-controller="UpdatePropertiesCtrl">
          <ng-include src="'views/map/map-properties-tabs.html'"></ng-include>

          <div ng-show="shouldDisplayPanel('initial')" class="layer-description-area">
            <ng-include src="'views/map/map-properties-initial.html'"></ng-include>
          </div>

          <div ng-show="shouldDisplayPanel('current')" class="layer-description-area">
            <ng-include src="'views/map/map-properties-current.html'"></ng-include>
          </div>
        </div>
      </accordion-group>
      <!-- End properties -->

      <!-- Layers -->
      <accordion-group>
        <accordion-heading>
          Layers <i tooltip="Add a layer" ng-click="openAddLayerDialog($event)" class="pull-right glyphicon glyphicon-plus grey-icon"></i>
        </accordion-heading>

        <!-- Layers -->
        <accordion close-others="oneAtATime">
          <accordion-group ng-repeat="layer in layers">
            <accordion-heading>
              {{layer.name}}

              <ng-include src="'views/layers/layer-toolbar.html'"></ng-include>
            </accordion-heading>

            <div ng-if="shouldDisplayGraticuleProperties(layer)" ng-controller="UpdateLayerCtrl">
              <ng-include src="'views/layers/layer-graticule-tabs.html'"></ng-include>

              <!-- properties -->
              <div ng-show="shouldDisplayPanel('properties')" class="layer-description-area">
                <ng-include src="'views/layers/layer-graticule-properties.html'"></ng-include>
              </div>
              <!-- styles -->
              <div ng-show="shouldDisplayPanel('styles')" class="layer-description-area">
                <ng-include src="'views/layers/layer-graticule-styles.html'"></ng-include>
              </div>
            </div>

            <div ng-if="shouldDisplayGeoDataProperties(layer)" ng-controller="UpdateLayerCtrl">
              <ng-include src="'views/layers/layer-geodata-tabs.html'"></ng-include>

              <!-- properties -->
              <div ng-show="shouldDisplayPanel('properties')" class="layer-description-area">
                <ng-include src="'views/layers/layer-geodata-properties.html'"></ng-include>
              </div>
              <!-- data -->
              <div ng-show="shouldDisplayPanel('data')" class="layer-description-area">
                <ng-include src="'views/layers/layer-geodata-data.html'"></ng-include>
              </div>
              <!-- display -->
              <div ng-show="shouldDisplayPanel('display')" class="layer-description-area">
                <ng-include src="'views/layers/layer-geodata-display.html'"></ng-include>
              </div>
              <!-- styles -->
              <div ng-if="shouldDisplayGeoDataStylesProperties(layer)">
                <ng-include src="'views/layers/layer-geodata-styles.html'"></ng-include>
              </div>
              <!-- display -->
              <div ng-show="shouldDisplayPanel('behavior')" class="layer-description-area">
                <ng-include src="'views/layers/layer-geodata-behavior.html'"></ng-include>
              </div>
            </div>

            <div ng-if="shouldDisplayDataFillProperties(layer)" ng-controller="UpdateLayerCtrl">
              <ng-include src="'views/layers/layer-fill-tabs.html'"></ng-include>

              <!-- properties -->
              <div ng-show="shouldDisplayPanel('properties')" class="layer-description-area">
                <ng-include src="'views/layers/layer-fill-properties.html'"></ng-include>
              </div>
              <!-- data -->
              <div ng-show="shouldDisplayPanel('data')" class="layer-description-area">
                <ng-include src="'views/layers/layer-fill-data.html'"></ng-include>
              </div>
              <!-- display -->
              <div ng-show="shouldDisplayPanel('display')" class="layer-description-area">
                <ng-include src="'views/layers/layer-fill-display.html'"></ng-include>
              </div>
            </div>

            <div ng-if="shouldDisplayDataObjectsProperties(layer)" ng-controller="UpdateLayerCtrl">
              <ng-include src="'views/layers/layer-object-tabs.html'"></ng-include>

              <!-- properties -->
              <div ng-show="shouldDisplayPanel('properties')" class="layer-description-area">
                <ng-include src="'views/layers/layer-object-properties.html'"></ng-include>
              </div>
              <!-- data -->
              <div ng-show="shouldDisplayPanel('data')" class="layer-description-area">
                <ng-include src="'views/layers/layer-object-data.html'"></ng-include>
              </div>
              <!-- display -->
              <div ng-show="shouldDisplayPanel('display')" class="layer-description-area">
                <ng-include src="'views/layers/layer-object-display.html'"></ng-include>
              </div>
              <!-- behavior -->
              <div ng-show="shouldDisplayPanel('behavior')" class="layer-description-area">
                <ng-include src="'views/layers/layer-object-behavior.html'"></ng-include>
              </div>
            </div>
          </accordion-group>
        </accordion>
        <!-- End layer graticule -->
      </accordion-group>
      <!-- End layers -->

      <!-- Sources -->
      <accordion-group is-open="status.open">
          <accordion-heading>
              Sources <i tooltip="Import a source" ng-click="openImportSourceDialog($event)" class="pull-right glyphicon glyphicon-import grey-icon"></i>
          </accordion-heading>

        <!-- Layers -->
        <accordion close-others="oneAtATime">
          <accordion-group ng-repeat="source in linkedSources">
            <accordion-heading>
              {{source.name}}
            </accordion-heading>

            <div ng-controller="UpdateSourceCtrl">
              <ng-include src="'views/map/map-sources-tabs.html'"></ng-include>

              <!-- preview -->
              <div ng-show="shouldDisplayPanel('preview')" class="layer-description-area">
                <ng-include src="'views/map/map-sources-preview.html'"></ng-include>
              </div>

              <!-- properties -->
              <div ng-show="shouldDisplayPanel('properties')" class="layer-description-area">
                <ng-include src="'views/map/map-sources-properties.html'"></ng-include>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </accordion-group>
      <!-- End data sources -->

      <!-- Interactions -->
      <accordion-group>
        <accordion-heading>
          Interactions
        </accordion-heading>

        <form name="interactionsForm" novalidate class="form-horizontal">
          <field label="Move">
            <select class="form-control input-sm" name="moving" ng-model="interactions.moving">
              <option value="">None</option>
              <option value="mouseMove">With mouse move</option>
            </select>
          </field>
          <field label="Zoom">
            <select class="form-control input-sm" name="zooming" ng-model="interactions.zooming">
              <option value="">None</option>
              <option value="mouseWheel">With mouse wheel</option>
            </select>
          </field>
        </form>
      </accordion-group>
      <!-- End interactions -->

      <!-- Console -->
      <accordion-group is-open="status.open">
          <accordion-heading>
              Console
          </accordion-heading>

          <ul>
            <li ng-repeat="message in messages">{{message.description}}</li>
          </ul>
      </accordion-group>
      <!-- End console -->
    </accordion>
  </div>
</div>