<form name="propertiesForm" novalidate class="form-horizontal">
  <field label="Scale">
    <input disabled class="form-control input-sm" name="scale" type="text" 
               placeholder="Scale" required ng-model="currentProperties.scale" />
  </field>
  <field label="Center (lon)">
    <input disabled class="form-control input-sm" name="lon" type="text" 
               placeholder="Center (longitude)" required ng-model="currentProperties.center.lon" />
  </field>
  <field label="Center (lat)">
    <input disabled class="form-control input-sm" name="lat" type="text" 
               placeholder="Center (latitude)" required ng-model="currentProperties.center.lat" />
  </field>
</form>