<form name="previewSourceForm" novalidate class="form-horizontal">
  <field label="Name">
    <input class="form-control input-sm" name="name" type="text" 
         disabled value="{{source.name}}"/>
  </field>
  <field label="Data type">
    <input class="form-control input-sm" name="type" type="text"
         row="5" disabled value="{{source.type}}"/>
  </field>
  <field label="Data URL">
    <input class="form-control input-sm" name="originUrl" type="text"
         row="5" disabled value="{{source.url}}"/>
  </field>
  <field label="Origin URL">
    <input class="form-control input-sm" name="originUrl" type="text"
         row="5" disabled value="{{source.originUrl}}"/>
  </field>
</form>